<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        <p>The site is being update, we'll right back soon</p>
    </body>
</html>